.ProjectCard {
    padding: 75px;
    height: 150px !important;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
    align-content: center;

  }

  .OneCard {
    box-shadow: 0 8px 3px rgba(0,0,0,0.12), 0 5px 2px rgba(0,0,0,0.24);
      
  }

  .CardPadding {
      padding: 50px;
  }

  .CardText {
      padding-top:0px;
  }

  .Description {
      align-content: left;
      width: 70%;
  }

  .Image {
      float:right;
      transform: translateX(-125px);
      transform: translateY(-145px);  
      
    }

    #img_url {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }