.Search{
    position: absolute;
    left:0px;
    margin: 0px;
    padding: 0px;
    height: 20px;
    transform: translateY(-50px);
}

.SearchForm {
    margin:0px;
}

/* .SearchInput {
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
} */